<div class="row mt-5">
	<div class="col-md-6 m-auto">
		<div class="card card-body">
			<h1 class="text-center mb-3"><i class="fas fa-sign-in-alt"></i> Login</h1>
			<%- include ('./partials/messages') %>
			<form action="/users/login" method="POST">
				<div class="form-group">
					<label for="email" class="form-label mt-4 required">Email</label>
					<input
						type="email"
						id="email"
						name="email"
						class="form-control"
						placeholder="Enter Email"
					/>
				</div>
				<div class="form-group">
					<label for="password" class="form-label mt-4">Password</label>
					<input
						type="password"
						id="password"
						name="password"
						class="form-control"
						placeholder="Enter Password"
					/>
				</div>
				<div class="d-grid gap-2 mt-4">
					<button type="submit" class="btn btn-primary btn-block">Login</button>
				</div>
			</form>
			<p class="lead mt-4">
				No Account? <a href="/users/register">Register</a>
			</p>
		</div>
	</div>
</div>
